<p-toast />
<loader />
<p-fluid>
    <!-- <div class="flex flex-col md:flex-row gap-8 mt-8">
        <div class="md:w-1/2">
            <div class="card"> -->
    <div class="card flex flex-col gap-6 w-full justify-center">
        <div class="gap-2 w-full">
            <p-floatlabel variant="on">
                <p-autocomplete id="report" [(ngModel)]="selectedEmployee" minLength="3" delay="500" optionLabel="fullName"
                    [suggestions]="filteredEmployees" (completeMethod)="filterEmployees($event)" (onSelect)="fetchEmployeeRoles()">
                </p-autocomplete>
                <label for="report">{{'Search Employee' | translate}}</label>
            </p-floatlabel>
        </div>
        <div class="gap-2 w-full">
            <div *ngIf="employeeRoles.length > 0" class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 50rem">
                <div class="text-center mt-4 mb-4 text-xl font-semibold">{{'Choose employee roles' | translate}}</div>
                <div class="flex flex-wrap justify-center gap-4">
                    <div *ngFor="let role of allroles">
                        <p-toggleButton 
                          [(ngModel)]="role.selected" 
                          [onLabel]="role.rolename" 
                          [offLabel]="role.rolename"
                          [onIcon]="'pi pi-check'">
                        </p-toggleButton>
                      </div>
                </div>
            </div>
            <p-button *ngIf="employeeRoles.length > 0" [label]="'Update Employee Roles' | translate" [raised]="true" variant="outlined"
                severity="primary" icon="pi pi-save" (onClick)="updateEmployeeRoles()"/>
        </div>
    </div>
</p-fluid>