<p-toast />
<ngx-spinner/>
<p-fluid>
    <div class="flex mt-8">
        <div class="card flex flex-col gap-6 w-full">
            <div class="font-semibold text-xl"><b>{{'Onboard New Tenant' | translate}}</b></div>

            <p-stepper [(value)]="activeStep"> <!-- class="basis-[40rem]" -->
                <p-step-list>
                    <p-step [value]="1" class="flex flex-row flex-auto gap-2" [disabled]="true">
                        <ng-template #content let-activateCallback="activateCallback" let-value="value">
                            <button class="bg-transparent border-0 inline-flex flex-col gap-2"
                                (click)="activateCallback()">
                                <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                    [ngClass]="{
                            'bg-primary text-primary-contrast border-primary': value <= activeStep,
                            'border-surface': value > activeStep}">
                                    <i class="pi pi-book"></i>
                                </span>
                            </button>
                        </ng-template>
                    </p-step>

                    <p-step [value]="2" class="flex flex-row flex-auto gap-2" [disabled]="true">
                        <ng-template #content let-activateCallback="activateCallback" let-value="value">
                            <button class="bg-transparent border-0 inline-flex flex-col gap-2"
                                (click)="activateCallback()">
                                <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                    [ngClass]="{
                            'bg-primary text-primary-contrast border-primary': value <= activeStep,
                            'border-surface': value > activeStep}">
                                    <i class="pi pi-image"></i>
                                </span>
                            </button>
                        </ng-template>
                    </p-step>

                    <p-step [value]="3" class="flex flex-row flex-auto gap-2" [disabled]="true">
                        <ng-template #content let-activateCallback="activateCallback" let-value="value">
                            <button class="bg-transparent border-0 inline-flex flex-col gap-2"
                                (click)="activateCallback()">
                                <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                    [ngClass]="{
                            'bg-primary text-primary-contrast border-primary': value <= activeStep,
                            'border-surface': value > activeStep}">
                                    <i class="pi pi-calendar-times"></i>
                                </span>
                            </button>
                        </ng-template>
                    </p-step>

                    <p-step [value]="4" class="flex flex-row flex-auto gap-2" [disabled]="true">
                        <ng-template #content let-activateCallback="activateCallback" let-value="value">
                            <button class="bg-transparent border-0 inline-flex flex-col gap-2"
                                (click)="activateCallback()">
                                <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                    [ngClass]="{
                            'bg-primary text-primary-contrast border-primary': value <= activeStep,
                            'border-surface': value > activeStep}">
                                    <i class="pi pi-id-card"></i>
                                </span>
                            </button>
                        </ng-template>
                    </p-step>
                </p-step-list>

                <!-- PANEL CONTENT -->
                <p-step-panels>
                    <p-step-panel [value]="1">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col gap-2 mx-auto" [formGroup]="detailsFormGroup">
                                <div class="text-center mt-4 mb-4 text-xl font-semibold">{{'Enter Tenant Details'}}</div>
                                <div class="flex flex-col md:flex-row gap-6">
                                    <div class="gap-2 w-full">
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" autocomplete="off" formControlName="name" [class]="getErrorClassIfPresent(detailsFormGroup, 'name')"/>
                                            <label for="on_label">{{'Name' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'name')" style="color: red;">{{'Name is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                    <div class="gap-2 w-full">
                                        <p-floatlabel variant="on">
                                            <input pInputText id="uni_label" autocomplete="off" formControlName="uniqueName" [class]="getErrorClassIfPresent(detailsFormGroup, 'uniqueName')"/>
                                            <label for="uni_label">{{'Unique Name' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'uniqueName')" style="color: red;">{{'UniqueName is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                    <div class="gap-2 w-full">
                                        <p-floatlabel variant="on">
                                            <input pInputText id="tag" autocomplete="off" formControlName="tagLine" [class]="getErrorClassIfPresent(detailsFormGroup, 'tagLine')"/>
                                            <label for="tag">{{'Tag Line' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'tagLine')" style="color: red;">{{'TagLine is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                </div>
                                
                                <div class="flex flex-col md:flex-row gap-6">
                                    <div class="gap-2 w-full">
                                        <p-floatlabel variant="on">
                                            <p-inputmask id="mm" mask="9999999999" formControlName="mobile" [class]="getErrorClassIfPresent(detailsFormGroup, 'mobile')"/>
                                            <label for="mm">{{'Contact' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'mobile')" style="color: red;">{{'Mobile is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                    <div class="gap-2 w-full">
                                        <p-floatlabel variant="on">
                                            <input pInputText id="email" autocomplete="off" formControlName="emailId" [class]="getErrorClassIfPresent(detailsFormGroup, 'emailId')"/>
                                            <label for="email">{{'EmailId' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'emailId')" style="color: red;">{{'EmailId is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                    <div class="gap-2 w-full">
                                        <p-floatlabel variant="on">
                                            <input pInputText id="bemail" autocomplete="off" formControlName="businessEmail" [class]="getErrorClassIfPresent(detailsFormGroup, 'businessEmail')"/>
                                            <label for="bemail">{{'Business EmailId' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'businessEmail')" style="color: red;">{{'Business EmailId is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                </div>
                                
                                <div class="">
                                    <p-floatlabel variant="on">
                                        <textarea pTextarea id="street" rows="4" formControlName="street" [class]="getErrorClassIfPresent(detailsFormGroup, 'street')"></textarea>
                                        <label for="street">{{'Street' | translate}}</label>
                                        <small class="p-error" *ngIf="hasError(detailsFormGroup, 'street')" style="color: red;">{{'Street is required' | translate}}</small>
                                    </p-floatlabel>
                                </div>
                                
                                <div class="flex flex-col md:flex-row gap-6">
                                    <div class="gap-2 w-full">
                                        <p-floatlabel variant="on">
                                            <p-inputmask id="pin" mask="999999" (keyup)="searchPincode()" formControlName="pincode" [class]="getErrorClassIfPresent(detailsFormGroup, 'pincode')"/>
                                            <label for="pin">{{'Pincode' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'pincode')" style="color: red;">{{'Pincode is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                    <div class="gap-2 w-full">
                                        <p-floatlabel class="w-full" variant="on">
                                            <p-select inputId="city" [options]="cities" optionLabel="Name" styleClass="w-full" editable=true
                                                [loading]="postalLoad" formControlName="city" [class]="getErrorClassIfPresent(detailsFormGroup, 'city')"/>
                                            <label for="city">{{'City' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'city')" style="color: red;">{{'City is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                    <div class="gap-2 w-full">
                                        <p-floatlabel class="w-full" variant="on">
                                            <p-select inputId="state" [options]="states" styleClass="w-full" editable=true
                                                [loading]="postalLoad" formControlName="state" [class]="getErrorClassIfPresent(detailsFormGroup, 'state')"/>
                                            <label for="state">{{'State' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'state')" style="color: red;">{{'State is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                    <div class="gap-2 w-full">
                                        <p-floatlabel class="w-full" variant="on">
                                            <p-select inputId="locale" [options]="locales" styleClass="w-full" formControlName="locale" [class]="getErrorClassIfPresent(detailsFormGroup, 'locale')"/>
                                            <label for="locale">{{'Locale' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'locale')" style="color: red;">{{'Locale is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                    <div class="gap-2 w-full">
                                        <p-floatlabel class="w-full" variant="on">
                                            <p-select inputId="tz" [options]="timeZones" styleClass="w-full" formControlName="timeZone" [class]="getErrorClassIfPresent(detailsFormGroup, 'timeZone')"/>
                                            <label for="tz">{{'Time Zone' | translate}}</label>
                                            <small class="p-error" *ngIf="hasError(detailsFormGroup, 'timeZone')" style="color: red;">{{'TimeZone is required' | translate}}</small>
                                        </p-floatlabel>
                                    </div>
                                </div>
                                
                                <!-- <div class="flex flex-col md:flex-row gap-6" style="justify-content: end;">
                                    <div class="gap-2">
                                        <p-button label="SAVE" [raised]="true" variant="text" severity="success" icon="pi pi-save"
                                            (click)="saveTenant()" />
                                    </div>
                                </div> -->
                            </div>
                            <div class="flex pt-6 justify-end">
                                <p-button [disabled]="detailsFormGroup.invalid" (onClick)="activateCallback(2)" [label]="'Next' | translate" icon="pi pi-arrow-right"
                                    iconPos="right" />
                            </div>
                        </ng-template>
                    </p-step-panel>

                    <p-step-panel [value]="2">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col gap-2 mx-auto" >
                                <div class="text-center mt-4 mb-4 text-xl font-semibold">{{'Upload Tenant Logo' | translate}}</div>
                                <div class="flex flex-wrap justify-center gap-4">
                                    <p-fileupload name="file" (onSelect)="onSelect($event)" (onUpload)="onUpload($event)" (onClear)="onRemove()" 
                                                  [multiple]="false" accept="image/*" maxFileSize="1000000" mode="advanced" [url]="getUploadUrl()">
                                        <ng-template #empty>
                                            <div> {{ 'Drag and drop files to here to upload.' |translate }}</div>
                                        </ng-template>
                                        <ng-template #content>
                                            <ul *ngIf="selectedFiles.length">
                                                <li *ngFor="let file of selectedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                                            </ul>
                                        </ng-template>
                                    </p-fileupload>
                                </div>
                            </div>
                            <div class="flex pt-6 justify-between">
                                <p-button (onClick)="activateCallback(1)" label="Back" severity="secondary"
                                    icon="pi pi-arrow-left" />
                                <p-button [disabled]="!isFileUploaded" (onClick)="activateCallback(3)" [label]="'Next' | translate" icon="pi pi-arrow-right"
                                    iconPos="right" />
                            </div>
                        </ng-template>
                    </p-step-panel>

                    <p-step-panel [value]="3">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                                <div class="text-center mt-4 mb-4 text-xl font-semibold">{{"Set Tenant's Subscription Period" | translate}}
                                </div>
                                <div class="justify-center">
                                    <p-datepicker [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" dateFormat="dd/mm/yy" showIcon="true"/>
                                </div>
                            </div>
                            <div class="flex pt-6 justify-between">
                                <p-button (onClick)="activateCallback(2)" label="Back" severity="secondary"
                                    icon="pi pi-arrow-left" />
                                <!-- <p-button (onClick)="activateCallback(4)" [label]="'Next' | translate" icon="pi pi-arrow-right"
                                    iconPos="right" /> -->
                                <p-button [disabled]="canSaveTenant()" [label]="'ONBOARD TENANT' | translate" [raised]="true" variant="outlined" severity="success" icon="pi pi-save"
                                    (onClick)="activateCallback(4); saveTenant()"/>
                            </div>
                        </ng-template>
                    </p-step-panel>

                    <p-step-panel [value]="4">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                                <div class="text-center mt-4 mb-4 text-xl font-semibold">{{"Tenant Onboarded Successfully" | translate}}
                                </div>
                                <div class="text-center">
                                    <img alt="logo"
                                        src="https://primefaces.org/cdn/primeng/images/stepper/content.svg" />
                                </div>
                            </div>
                            <div class="flex pt-6 justify-start">
                                <!-- <p-button (onClick)="activateCallback(2)" label="Back" severity="secondary"
                                    icon="pi pi-arrow-left" /> -->
                            </div>
                        </ng-template>
                    </p-step-panel>
                </p-step-panels>
            </p-stepper>
        </div>
    </div>
</p-fluid>